.body-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 1vh;
  width: 50vh;
}
.body-container input[type="text"] {
  padding: 1vh;
  outline: none;
}
input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #1976d2;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  margin-top: 0.5vh;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #1565c0;
}
